body{
	color: black;
}
header{
	color: white;
	background-color: black;
	padding: auto;
	margin-bottom: 5px;
}

footer{
	padding: auto;
	height: 30px;
	background-color: #e9ecef;
	color: black;
	margin: 0;
	text-align: center;
}

footer p{
	padding: auto;
	margin-bottom: 0;
}

footer p span a{
	color: black;
}

footer p span a:hover{
	text-decoration: none;
}

.navbar a {
	color: white;
	opacity: .9;
}

.navbar a:hover{
	opacity: 1;
}

.navbar-right a{
	margin-left: 15px;
	opacity: .9;
}

.navbar-right a:hover{
	opacity: 1;
}

.jumbotron{
	text-align: center;
	color: black;
}

.color-group{
	display: flex;
	flex-direction: column;
	padding-bottom: 25vh;
}

.color-group label{
	width: 100px;
}

.input-group{
	display: flex;
	flex-direction: row;
	padding-bottom: 15px;
}

.input-group label{
	margin-right: 20px;
	text-align: center;
}

.input-group input[type=text]{
	width: 50px;
	margin-right: 20px;
}

.input-group input[type=range]{
	flex-grow: 1;
}
