body{
	color: black;
	min-height: 100vh;
}
header{
	color: white;
	background-color: black;
	padding: auto;
	margin-bottom: 5px;
}

footer{
	position: fixed;
	min-height: 30px;
	background-color: #000;
	color: #e9ecef;
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 0;
}

footer p{
	padding: auto;
	margin-bottom: 0;
}

footer p span a{
	color: #e9ecef;
}

footer p span a:hover{
	text-decoration: none;
}

.navbar a {
	color: white;
	opacity: .9;
}

.navbar a:hover{
	opacity: 1;
}

.container {
	margin-top: 40px;
	border: 2px solid #fff;
	border-radius: .3em;
	padding: 20px;
}

.navbar a {
	color: white;

}

.navbar-right a{
	margin-left: 15px;
	opacity: .9;
}

.navbar-right a:hover{
	opacity: 1;
}

.jumbotron{
	display: flex;
	flex-direction: row;
	color: white;
	background-color: #000;
}

.jumbotron .main{
	width: 75%;
	text-align: center;
}

.jumbotron .pallet{
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* sets the size of the boxes to be 1/3 of the pallet */
.jumbotron .pallet .box{
	width: 33%;
	border: 1px solid #fff;
}

button {
	background-color: #000;
	border-radius: .3em;
	color: white;
	font-size: 20px;
	padding: 5px;
	width: 135px;
	 
}

button:focus {
	outline: 0;
}

.color-group {
	display: flex;
	flex-direction: column;
	padding-bottom: auto;
}

.color-group label{
	width: 100px;
}

.input-group{
	display: flex;
	flex-direction: row;
	padding-bottom: 15px;
}

.input-group label{
	margin-right: 20px;
	text-align: center;
}

.input-group input[type=text]{
	text-align: center;
	width: 45px;
	margin-right: 20px;
	border: 2px solid #000;
	border-radius: .3em;
	padding: 3px;
}

.input-group input[type=range]{
	flex-grow: 1;
}

#code-icon{
	display: none;
}

#show-pallett{
	display: none;
}

#contextmenu{
  display:none;
  position: absolute;
  background-color: white;
  color: black;
  width:150px;
  left: 1103px;
  top:250px;
}

#contextmenu li{
	list-style: none;
	text-align: center;
}

#contextmenu li:hover{
	color: white;
	background-color: rgb(40,20,150);
}


/* creates a media query for smaller display items */
@media (max-width: 500px)
{
	/* When on a mobile screen the code button will appear*/
	#code-icon{
		display: block;
	}
	/* The colab details information will dissapear */
	.colab-details{
		display: none;
	}
	.visable{
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 1000px)
{
	/* sets the main display to fill the jumbotron */
	.jumbotron .main{
		width: 100%;
	}
	#copy{
		display: none;
	}

	#show-pallett{
		display: inline-block;
	}
	/* hides the color pallet for smaller screens*/
	.jumbotron .pallet{
		display: none;
	}
}

