body{
	color: black;
}
header{
	color: white;
	background-color: black;
	padding: auto;
	margin-bottom: 5px;
}

footer{
	padding: auto;
	height: 30px;
	background-color: #e9ecef;
	color: black;
	margin: 0;
	text-align: center;
}

footer p{
	padding: auto;
	margin-bottom: 0;
}

footer p span a{
	color: black;
}

footer p span a:hover{
	text-decoration: none;
}

.navbar a {
	color: white;
	opacity: .9;
}

.navbar a:hover{
	opacity: 1;
}

.container {
	margin-top: 40px;
	border: 2px solid #fff;
	border-radius: .3em;
	padding: 20px;
}

.navbar a {
	color: white;

}

.navbar-right a{
	margin-left: 15px;
	opacity: .9;
}

.navbar-right a:hover{
	opacity: 1;
}

.jumbotron{
	text-align: center;
	color: white;
	background-color: #000;
	/*background: linear-gradient(darkslategrey, lightslategrey);*/
}
button {
	background-color: #000;
	border-radius: .3em;
	color: white;
	font-size: 20px;
	padding: 5px;
	width: 135px;
	 
}

.color-group {
	display: flex;
	flex-direction: column;
}

.color-group label{
	width: 100px;
}

.input-group{
	display: flex;
	flex-direction: row;
	padding-bottom: 15px;
}

.input-group label{
	margin-right: 20px;
	text-align: center;
}

.input-group input[type=text]{
	text-align: center;
	width: 45px;
	margin-right: 20px;
	border: 2px solid #000;
	border-radius: .3em;
	padding: 3px;
}

.input-group input[type=range]{
	flex-grow: 1;
}
